@use 'variables' as *;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: auto;
    transition: all $animation;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
label,
span,
th,
tr,
td,
dl,
dt,
ul,
li,
ol {
    font-family: $font-regular;
}