.cj-button-icon {
    position: relative;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: var(--divider);
    }
}